table, tr, td{
	border: 1px solid black;
	width:100%;
	height: 15px;
	table-layout: fixed;
	padding: 1px;
	spacing: 1px;
}

.middle{
	justify-content: middle;
}

.center, h1{
	text-align: center;
}

.right{
	text-align: right;
}

.green{
	background: green;
}

.blue{
	background: blue;
}